<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a th:href="@{/}" class="logo">Fintan's Petitions</a>
            <div class="navbar-links">
                <a th:href="@{/}">Browse</a>
                <a th:href="@{/search}">Search</a>
                <a th:href="@{/create}">Create a Petition</a>
            </div>
        </div>
    </nav>
    <main class="main-container">
        <div class="petition-grid">
            <h2>Search for a new petition</h2>
            <div class="search-input">
                <input type="text" id="searchInput" placeholder="Search here for a petition" autocomplete="off">
            </div>
            <div class="petition-grid">
                <div class="petition-card">
                    <span th:text="${petition.category}">Category</span>
                    <h3>
                        <a th:href="@{/view/{id}(id=${petition.id})}" th:text="${petition.title}">Petition Title</a>
                    </h3>
                    <p>By <span th:text="${petition.author}">Author</span></p>
                    <p><strong th:text="${petition.signatureCount}">0</strong> signatures</p>
                </div>
            </div>
            <div class="no-results">
                <p>No petitions results were found.</p>
            </div>
        </div>
    </main>
</body>
</html>