<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <a th:href="@{/}" class="logo">Fintan's Petitions</a>
            <div class="navbar-links">
                <a th:href="@{/search}">Search</a>
                <a th:href="@{/create}">Create a Petition</a>
            </div>
        </div>
    </nav>
    <main class="main-container">
        <div class="petition-grid">
            <h2 class="search-container">Search for a new petition</h2>
        
            <div class="search-input-container">
                <input type="text" id="searchInput" class="search-input" placeholder="Search here for a petition"
                    autocomplete="off">
            </div>
            <div class="card petition-card" th:each="petition: ${results}">
                <span class="category" th:text="${petition?.category}">Category</span>
                <h3 class="title">
                    <a th:href="@{/petition/{id}(id=${petition.id})}" th:text="${petition.title}">Petition Title</a>
                </h3>
                <p class="author">By <span th:text="${petition.author}">Author</span></p>
                <p><strong th:text="${petition.signatureCount}">0</strong> signatures</p>
            </div>
        
            <div id="noResults" class="no-results">
                <p>No petitions results were found.</p>
            </div>
        </div>
    </main>

    <script>
        const searchInput = document.getElementById("searchInput");
        const cards = document.querySelectorAll('.petition-card');
        const noResult = document.getElementById("noResults");

        const filter = () => {
            const query = searchInput.value.toLowerCase().trim();
            let visibleCount = 0;

            cards.forEach(card => {
                const title = card.querySelector('.title').textContent.toLowerCase();
                const author = card.querySelector('.author').textContent.toLowerCase();
                const category = card.querySelector('.category').textContent.toLowerCase();

                if (title.includes(query) || author.includes(query) || category.includes(query)) {
                    card.style.display = '';
                    visibleCount++;
                } else {
                    card.style.display = 'none';
                }
            });

            if (query.length > 0 && visibleCount === 0) {
                noResult.style.display = 'block';
            } else {
                noResult.style.display = 'none';
            };
        }

        searchInput.addEventListener("input", filter);
    </script>
</body>
</html>